{:deps
 {org.clojure/data.csv {:mvn/version "0.1.4"}
  semantic-csv/semantic-csv {:mvn/version "0.2.1-alpha1"}}

 :aliases {:repl {:main-opts ["-m" "nrepl.cmdline"
                              "--interactive"
                              "--middleware"
                              "[cider.nrepl/cider-middleware]"]
                  :extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                               cider/cider-nrepl {:mvn/version "0.26.0"}}}}}
